@font-face {
  font-family: CapitoliumNews2;
  src: url('assets/fonts/CapitoliumNews2/Regular.otf');
  font-style: normal;
  font-weight: 400;
}

/* Proximanova font */
@font-face {
  font-family: 'proxima_novamedium';
  src: url('assets/fonts/proximanova/proximanova-medium.otf') format('otf'),
       url('assets/fonts/proximanova/proximanova-medium-webfont.woff2') format('woff2'),
       url('assets/fonts/proximanova/proximanova-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novaregular';
  src: url('assets/fonts/proximanova/proximanova-regular.otf') format('otf'),
       url('assets/fonts/proximanova/proximanova-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/proximanova/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novasemibold';
  src: url('assets/fonts/proximanova/proximanova-semibold.otf') format('otf'),
       url('assets/fonts/proximanova/proximanova-semibold-webfont.woff2') format('woff2'),
       url('assets/fonts/proximanova/proximanova-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novabold';
  src: url('assets/fonts/proximanova/proximanova-bold.otf') format('otf'),
       url('assets/fonts/proximanova/proximanova-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/proximanova/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('assets/fonts/proximanova/proximanova-light-webfont.ttf'),
       url('assets/fonts/proximanova/proximanova-light-webfont.svg') format('svg'),
       url('assets/fonts/proximanova/proximanova-light-webfont.woff.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  background-color: white;
  margin: 0px;
  font-family: CapitoliumNews2;
}

a.selected {
  opacity: 1;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  position: relative;
}

button i {
  right: 25px;
  position: absolute;
  margin-top: 5px;
}

.carousel .carousel-control.right {
  background-image: none;
}

.carousel .carousel-control.left {
  background-image: none;
}

.carousel {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.main-container {
  /* width: calc(100% - 100px); */
}

.main-menu {
  position: fixed;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 146px 0 155px;
  box-shadow: inset 0 -0.5px 0 0 rgba(255, 255, 255, 0.1);
  transition: all ease .1s;
  background-color: transparent;
}

.main-menu.scrolled {
  height: 110px;
  background-color: #ffffff;
}

.main-menu .logo-image {
  width: 207px;
}

.main-menu .nav-menu {

}

.main-menu .nav-menu .menu-item {
  cursor: pointer;
  font-family: proxima_novasemibold;
  opacity: 0.4;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.6px;
  color: #ffffff;
  margin-left: 40px;
  text-decoration: none;
}

.main-menu .nav-menu .menu-item.scrolled {
  color: #171717;
}

.main-menu .nav-menu .menu-item:hover {
  opacity: 1;
}

/* .main-menu {
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: #f3f3f3;
  position: fixed;
  height: 100vh;
}

.main-menu .nav-menu {
  background-color: #171717;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.main-menu .nav-menu ul {
  display: flex;
  flex-direction: column;
}

.main-menu .contact-us {
  width: 100px;
  height: 192px;
  background-color: #868690;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu .contact-us .text {
  transform: rotate(-90deg);
  font-family: proxima_novasemibold;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
}

.main-menu .nav-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.main-menu .nav-menu ul li a {
  transform: rotate(-90deg);
  opacity: 0.4;
  font-family: proxima_novasemibold;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
}

.main-menu .nav-menu ul li a:hover {
  opacity: 1;
  text-decoration: none;
}

.main-menu .nav-menu ul li a:visited {
  opacity: 1;
}

.main-menu .nav-menu .logo-image {
  width: 24px;
  height: 14px;
  margin-top: 70px;
} */

.main-container {
  /* margin-left: 100px; */
}

.landing-page {
  width: 100%;
  height: 980px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .mobile-menu {
  position: absolute;
  margin-top: 150px;
  display: none;
}

.landing-page .mobile-menu-icon {
  display: none;
}

.landing-page video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.landing-page .main-logo {
  display: none;
}

.landing-page .trusted-title {
  font-family: proxima_novasemibold;
  font-size: 12px;
  margin-bottom: 50px;
  line-height: 1.67;
  letter-spacing: 0.5px;
  display: none;
}

.landing-page .logo-title {
  font-family: CapitoliumNews2;
  font-size: 58px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.6px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.landing-page .logo-title .subtitle {
  font-family: proxima_novaregular;
  font-size: 38px;
  letter-spacing: 0.4px;
  line-height: 1.58;
  margin-top: 30px;
  text-align: center;
}

.main-content {
  margin-left: 156px;
}

.signup-page {
  display: flex;
  flex-wrap: wrap;
}

.signup-page .action-box {
  padding: 0 140px;
  margin-top: 120px;
  width: 40%;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-right: 30px;
  box-shadow: 0 50px 80px 0 rgba(23, 23, 23, 0.1);
  border-top: 1px solid #d1d1d1;
  border: solid 0.5px #f3f3f3;
}

.action-box .action-title {
  width: 360px;
  height: 50px;
  /* font-family: CapitoliumNews2; */
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.2px;
  text-align: center;
  color: #05050a;
}

.action-box .action-description {
  /* width: 340px; */
  height: 108px;
  font-family: proxima_novalight;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #9696a0;
  margin-top: 40px;
}

.action-box .action-button {
  width: 290px;
  height: 60px;
  background-color: #171717;
  font-family: proxima_novasemibold;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.8px;
  color: #ffffff;
  border: none;
  margin-top: 80px;
  text-align: left;
  padding-left: 25px;
}

.action-box:hover {
  cursor: pointer;
  border-top: 1px solid #868686;
  box-shadow: unset;
}

.action-box:hover .action-button {
  background-color: #868686;
}

.marketplace {
  background-image: url('./assets/Caption-Photo@2x.png');
  height: 720px;
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 150px;
}

.marketplace .description {
  width: 1024px;
  height: 320px;
  background-color: rgba(23, 23, 23, 0.8);
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.marketplace .description span {
  width: 570px;
  height: 100px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.our-approach {
  width: 100%;
  box-shadow: inset 0 -1px 0 0 #f3f3f3;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.our-approach .left-pane {
  width: 825px;
  background-color: white;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.our-approach .left-pane .scroll-content {
  display: none;
}

.our-approach .left-pane .scroll-content.active {
  display: block;
}

.our-approach .right-menu {
  width: 100%;
  height: 710px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
}

.our-approach .right-menu.fixed {
  position: fixed;
  width: 849px;
  top: 140px;
  right: 0;
}

.our-approach .right-menu.absolute {
  position: absolute;
  width: 849px;
  right: 0;
  bottom: 0;
}

.our-approach .right-menu ul {
  width: 100%;
}

.our-approach .right-menu ul li {
  width: 100%;
  height: 90px;
  font-family: proxima_novaregular;
  font-size: 16px;
  padding-left: 130px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(134, 134, 134, 0.7);
}

.our-approach .right-menu ul li.selected {
  font-family: proxima_novasemibold;
  background-color: #ffffff;
  box-shadow: 20px 15px 45px 0 rgba(23, 23, 23, 0.1);
  color: #171717;
}

.our-approach .left-pane .title {
  height: 100px;
  margin-top: 50px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.2px;
  color: #05050a;
}

.approach-content {
  padding-right: 350px;
  width: 800px;
}

.our-approach .our-approach-title {
  font-family: proxima_novasemibold;
  margin-top: 165px;
}

.approach-content .description {
  height: 144px;
  font-family: proxima_novalight;
  font-size: 24px;
  margin-top: 56px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #9696a0;
}

.our-approach-mobile {
  display: none;
}

.our-team {
  margin-top: 250px;
}

.our-team .team-description {
  width: 620px;
  height: 104px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 0.2px;
  color: #05050a;
}

.our-team .team-members {
  margin-top: 120px;
}

.our-team .team-members>span {
  width: 123px;
  height: 20px;
  font-family: proxima_novasemibold;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.6px;
  color: #171717;
}

.our-team .team-members .profiles {
  min-height: 520px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.profiles-mobile {
  display: none;
}

.profiles-mobile .slick-next {
  right: 0;
}

.our-team .team-members .profiles .profile {
  width: 200px;
  height: 520px;
  margin-top: 60px;
  margin-right: 43px;
  position: relative;
}


.our-team .team-members .profiles .profile .team-members-grey-bg {
  width: 1000%;
  height: 400px;
  background: #f3f3f3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profile img {
  width: 200px;
  height: 400px;
  background-color: #d2d2d2;
  /* margin-right: 30px; */
}

.profile .profile-name {
  width: 270px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  margin-right: 38px;
}

.profile .profile-name .full-name {
  font-family: proxima_novasemibold;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #171717;
}

.profile .profile-name .role {
  font-family: proxima_novaregular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #9696a0;
  margin-top: 10px;
}

.owner-signup {
  width: 100%;
  height: 720px;
  padding: 100px;
  background-image: url('assets/Footer_Img@2x.png');
  background-size: cover;
  margin-top: 200px;
  margin-bottom: -240px;
}

.owner-signup .tags {
  display: flex;
  margin-bottom: 90px;
}

.owner-signup .tags li {
  opacity: 0.4;
  font-family: proxima_novasemibold;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  margin-right: 50px;
  cursor: pointer;
}

.owner-signup .tags li.selected {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  opacity: 1;
}

.owner-signup .signup-title {
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.owner-signup .signup-form {
  font-family: proxima_novaregular;
  margin-top: 30px;
}

.owner-signup .signup-form .form-row {
  display: flex;
  margin-top: 30px;
  align-items: flex-end;
}

.owner-signup .signup-form .form-row input {
  width: 50%;
  height: 50px;
  margin-right: 130px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: white;
}

.owner-signup .signup-form .form-row input:focus, 
.owner-signup .signup-form .form-row textarea:focus {
  outline: unset;
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.owner-signup .signup-form .form-row textarea {
  width: 50%;
  height: 100px;
  margin-right: 130px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: white;
}

.owner-signup .signup-form .form-row .submit-button {
  width: 50%;
  margin-right: 130px;
}

.owner-signup .signup-form .form-row .submit-button button {
  width: 250px;
  height: 60px;
  background-color: #171717;
  font-family: proxima_novasemibold;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-align: left;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

.owner-signup .signup-form .form-row .submit-button button:hover {
  color: #868686;
}

.footer {
  width: 100%;
  height: 600px;
  background-color: #171717;
  padding-left: 254px;
  padding-bottom: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer .footer-logo {
  width: 184px;
}

.footer .footer-menu {
  display: flex;
  margin-right: 200px;
}

.footer .footer-menu li {
  font-family: proxima_novasemibold;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  margin-right: 50px;
  cursor: pointer;
  opacity: 0.4;
}

.footer .footer-menu li:hover {
  opacity: 1;
}

@media screen and (max-width: 1500px) {
  .signup-page .action-box {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1050px) {
  .main-container {
    width: 100%;
    margin-left: 0;
  }

  .main-menu {
    display: none;
  }

  .landing-page video {
    object-fit: cover;
  }
  
  .landing-page .mobile-menu-icon {
    position: absolute;
    top: 50px;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    right: 0;
    background-color: #171717;
    cursor: pointer;
  }

  .landing-page .mobile-menu-icon .fa {
    font-size: 24px;
  }

  .landing-page .mobile-menu-icon.opened {
    color: #171717;
    background-color: white;
  }

  .landing-page .mobile-menu-icon .lines {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .landing-page .mobile-menu-icon .lines .long-line {
    width: 100%;
    height: 1px;
    background-color: white;
  }

  .landing-page .mobile-menu-icon .lines .half-line {
    width: 50%;
    height: 1px;
    background-color: white;
  }

  .landing-page .mobile-menu-icon.opened .lines .long-line {
    background-color: #171717;
  }

  .landing-page .mobile-menu-icon.opened .lines .half-line {
    background-color: #171717;
  }

  .landing-page .mobile-menu {
    width: 100%;
    top: 150px;
    margin-top: 0px;
    background-color: white;
    z-index: 12;
  }

  .landing-page .mobile-menu li {
    font-family: proxima_novasemibold;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 0 -1px 0 0 #f3f3f3;
  }

  .landing-page .main-logo {
    display: block;
    text-align: center;
    width: 207px;
    top: 92px !important;
    position: absolute;
    z-index: 2;
  }

  .landing-page .logo-title {
    width: 588px;
    text-align: center;
    margin-bottom: 100px;
  }

  .landing-page .logo-title .subtitle {
    margin-top: 40px;
    font-size: 38px;
  }

  .main-content {
    margin-left: 0;
  }

  .signup-page {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-top: 70px;
  }

  .signup-page .action-box {
    padding: 0 140px;
    width: 570px;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
    margin-top: 0;
    height: 548px;
  }

  .action-box .action-title {
    margin-top: 0px;
  }

  .action-box .action-description {
    width: 340px;
  }

  .marketplace {
    margin-top: 30px;
  }

  .marketplace .description {
    padding: 0;
    justify-content: center;
  }

  .marketplace .description span {
    text-align: center;
  }

  .our-approach-mobile {
    display: block;
    height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .our-approach-mobile .carousel .carousel-indicators li {
    background-color: rgba(23, 23, 23, 0.1);
    margin: 6px;
  }

  .our-approach-mobile .carousel .carousel-indicators li.active {
    background-color: #171717;
    width: 10px;
    height: 10px;
  }

  .our-approach-mobile .our-approach-title-mobile {
    text-align: center;
    font-family: proxima_novasemibold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.6px;
    color: #171717;
  }

  .our-approach-mobile .carousel-inner {
    height: 100%;
    width: 100%;
  }

  .our-approach-mobile .carousel-inner .item {
    /*display: flex;*/
    /*justify-content: center;*/
    height: 100%;
  }

  .our-approach-mobile .carousel-inner .item .approach-content {
    height: calc(100% - 160px);
    width: 570px;
    text-align: center;
    margin-top: 0;
    padding-right: 0;
    margin: auto;
  }

  .our-approach-mobile .carousel-inner .item .approach-content .title {
    font-size: 32px;
    margin-top: 40px;
  }

  /*.our-approach-mobile .carousel img {
    height: 100%;
    width: 100%;
  }*/

  .our-team {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }

  .our-team .team-description {
    margin-top: 140px;
    text-align: center;
  }

  .profiles {
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
  }

  .our-team .team-members {
    margin-right: 509px;
  }

  .our-team .team-members .profiles .profile {
    margin-right: 0px;
  }

  .our-team .team-members .profiles .profile .team-members-grey-bg {
    width: 1000%;
    /* width: 133%; */
  }

  .our-approach {
    display: none;
  }

  .our-team .team-members .profiles {
    display: none;
  }

  .profiles-mobile {
    display: block;
    position: relative;
    margin-left: 70px;
  }

  .profiles-mobile .slider1 .slick-dots {
    text-align: left;
    bottom: -60px;
  }

  .profiles-mobile .slider1 .slick-list .slick-slide {
    width: 243px;
  }

  .profiles-mobile .slider1 .slick-dots li button:before {
    font-size: 9px;
  }

  .profiles-mobile .team-members-grey-bg {
      /* width: 120%; */
      height: 400px;
      background: #f3f3f3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }

  .profiles-mobile {
    margin-top: 50px;
  }

  .profiles-mobile .carousel .carousel-indicators li {
    background-color: rgba(23, 23, 23, 0.1);
  }

  .profiles-mobile .profile {
    width: 270px;
  }

  .profiles-mobile .carousel {
    height: 600px;
  }

  .profiles-mobile .carousel .carousel-indicators li.active {
    background-color: #171717;
  }

  .profiles-mobile .carousel-inner .item .approach-content {
    width: 300px;
  }

  .profiles-mobile .carousel-indicators {
    left: unset;
    margin-left: unset;
    text-align: left;
    bottom: -20px;
  }
    
  .owner-signup {
    margin-bottom: 0;
    height: auto;
    padding-left: 100px;
    margin-top: 150px;
  }

  .owner-signup .signup-form .form-row {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }

  .owner-signup .signup-form .form-row input {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }

  .owner-signup .signup-form .form-row textarea {
    margin-top: 20px;
    margin-right: 0;
  }

  .owner-signup .signup-form .form-row .submit-button button {
    margin-top: 40px;
    width: 315px;
  }

  .footer {
    padding: 0;
    width: 100%;
    align-items: center;
    height: 300px;
    flex-direction: column;
    justify-content: center;
  }

  .footer .footer-logo {
    margin-bottom: 40px;
  }

  .our-team .action-description {
    width: 310px;
    text-align: left;
  }

  .our-team .team-description {
    text-align: left;
  }

  .footer .footer-menu {
    justify-content: space-between;
    width: 448px;
    margin-right: 0;
  }

  .footer .footer-menu li {
    margin-top: 40px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 700px) {
  .landing-page {
    height: 760px;
  }

  .landing-page .trusted-title {
    display: block;
  }

  .landing-page .logo-title {
    font-size: 38px;
    margin-bottom: 0;
  }

  .landing-page .main-logo {
    width: 184px;
    top: 63px !important;
  }

  .landing-page .logo-title .subtitle {
    font-size: 28px;
  }

  .landing-page .mobile-menu {
    top: 100px;
  }

  .landing-page .mobile-menu-icon {
    width: 60px;
    height: 60px;
    top: 40px;
  }

  .signup-page {
    margin-top: 0px;
  }

  .signup-page .action-box {
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: unset;
    border-top: none;
    box-shadow: inset 0 -1px 0 0 #f3f3f3;
  }

  .signup-page .action-box:last-child {
    min-height: 480px;
    height: 480px;
  }

  .marketplace {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .marketplace .description span {
    width: 300px;
    height: auto;
  }

  .our-team {
    margin-top: 0px;
  }

  .our-team .team-description {
    width: 305px;
    text-align: center;
    height: auto;
    margin-top: 200px;
  }

  .our-team .team-members {
    margin-left: 0;
    margin-right: 193px;
    margin-top: 100px;
  }

  .our-approach-mobile {
    height: 590px;
    margin-bottom: 0;
  }

  .our-approach-mobile .carousel-indicators {
    bottom: -20px;
  }

  .our-approach-mobile .carousel-inner .item .approach-content {
    width: 300px;
  }
  
  .profiles-mobile {
    margin-left: 30px;
  }

  .profiles-mobile .slider1 .slick-list {
    padding: 0 20% 0 0 !important;
  }
  /* .our-team .team-members .profiles {
    display: none;
  }

  .our-team .team-members .profiles-mobile {
    display: block;
    position: relative;
  }

  .our-team .team-members .profiles-mobile .team-members-grey-bg {
      width: calc(100vw - 1243px);
      height: 400px;
      background: #f3f3f3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }

  .profiles-mobile {
    margin-top: 50px;
  }

  .profiles-mobile .carousel .carousel-indicators li {
    background-color: rgba(23, 23, 23, 0.1);
  }

  .profiles-mobile .profile {
    width: 270px;
  }

  .profiles-mobile .carousel {
    height: 600px;
  }

  .profiles-mobile .carousel .carousel-indicators li.active {
    background-color: #171717;
  }

  .profiles-mobile .carousel-inner .item .approach-content {
    width: 300px;
  }

  .profiles-mobile .carousel-indicators {
    left: unset;
    margin-left: unset;
    text-align: left;
    bottom: -20px;
  } */

  .owner-signup {
    padding: 100px 30px;
    margin-top: 120px;
  }

  .owner-signup .signup-title {
    font-size: 30px;
  }

  .owner-signup .tags li {
    white-space: nowrap;
  }

  .owner-signup .signup-form .form-row input {

  }

  .owner-signup .signup-form .form-row textarea {
    width: 300px;
  }

  .owner-signup .signup-form .form-row .submit-button {
    width: 300px;
  }

  .footer {
    height: 500px;
  }

  .footer .footer-logo {
    margin-bottom: 33px;
  }

  .footer .footer-menu {
    flex-direction: column;
  }

  .footer .footer-menu li {
    margin-top: 40px;
    margin-right: 0px;
  }

  .action-box .action-title {
    width: 320px;
    height: auto;
  }

  .marketplace .description span {
    width: 320px;
  }

  .action-box .action-description {
    text-align: center;
    padding: 0 15px;
  }

  .footer .footer-menu {
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .our-approach {
    display: none;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: proxima_novaregular;
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: proxima_novaregular;
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: proxima_novaregular;
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: proxima_novaregular;
  color: #fff;
}
